{% extends 'authen/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
  {% if messages %}
    {% for message in messages %}
      <span{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</span>
    {% endfor %}
  {% endif %}
  <form method="post" class="form-validate" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="form-group">
      <input id="login-username" type="text" name="username" required
             data-msg="Please enter your username" class="input-material">
      <label for="login-username" class="label-material">User Name</label>
    </div>
    <div class="form-group">
      <input id="login-password" type="password" name="password" required
             data-msg="Please enter your password" class="input-material">
      <label for="login-password" class="label-material">Password</label>
    </div>
    <button type="submit" id="login" class="btn btn-primary">Login</button>
  </form>
  <a href="#" class="forgot-pass">Forgot Password?</a><br>
{% endblock %}