{% extends 'discover/base.html' %}
{% load to_percent %}
{% block navbar %}{% with active_tab='search-device' %}{{ block.super }}{% endwith %}{% endblock %}
{% block page_header %}View device: {{ device.hostname }} {{ device.ip_address }}{% endblock %}
{% block content %}
  <!-- Dashboard Counts Section-->
  <section class="dashboard-counts no-padding-bottom" id="app">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile"
                     role="tab"
                     aria-controls="profile" aria-selected="true">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="interface-tab" data-toggle="tab" href="#interface"
                     role="tab"
                     aria-controls="interface" aria-selected="false">Interface</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="neighbor-tab" data-toggle="tab" href="#neighbor" role="tab"
                     aria-controls="neighbor" aria-selected="false">Neighbor</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" id="interface-status-log-tab" data-toggle="tab" href="#interface-status-log"
                     role="tab"
                     aria-controls="interface" aria-selected="false">Interface status logging</a>
                </li>
              </ul>
            </div>
            <div class="card-body">
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel"
                     aria-labelledby="profile-tab">
                  <!-- Profile -->
                  <div class="col-sm-12">
                    <div class="card">
                      <div class="card-header">Node Profile</div>
                      <div class="card-body">
                        <table class="table table-striped">
                          <tbody>
                          <tr>
                            <td style="min-width: 150px;">Sitename</td>
                            <td>{{ device.sitename }}</td>
                          </tr>
                          <tr>
                            <td>Hostname</td>
                            <td>{{ device.hostname }}</td>
                          </tr>
                          <tr>
                            <td>Overall status</td>
                            <td>
                              {% if device.is_down %}
                                <span class="badge badge-danger">Not OK</span>
                              {% else %}
                                <span class="badge badge-danger">OK</span>
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td>Hardware status</td>
                            <td>
                              {% if device.status_ok %}
                                <span class="badge badge-success">OK</span>
                              {% else %}
                                <span class="badge badge-danger">Not OK</span>
                              {% endif %}
                            </td>
                          </tr>
                          <tr>
                            <td>Ping Status</td>
                            {% if device.ping_status %}
                              <td><span class="badge badge-success">Connect</span>
                              </td>
                            {% else %}
                              <td><span class="badge badge-danger">Not Connect</span>
                              </td>
                            {% endif %}
                          </tr>
                          <tr>
                            <td>SNMP Status</td>
                            {% if device.snmp_status %}
                              <td><span class="badge badge-success">Connect</span>
                              </td>
                            {% else %}
                              <td><span class="badge badge-danger">Not Connect</span>
                              </td>
                            {% endif %}
                          </tr>
                          <tr>
                            <td>IPAddress</td>
                            <td>{{ device.ip_address }}/{{ device.netmask }}</td>
                          </tr>
                          <tr>
                            <td>Software Version</td>
                            <td>{{ device.description }}</td>
                          </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                    <div class="card">
                      <div class="card-header">Hardware</div>
                      <div class="card-body">
                        <table class="table table-hover table-sm">
                          <tbody>
                          {% for fan in device.fans %}
                            <tr>
                              <td style="min-width: 150px; max-width: 150px;">{{ fan.description }}</td>
                              <td>
                                {% if fan.state %}
                                  <span class="badge badge-success">OK</span>
                                {% else %}
                                  <span class="badge badge-danger">Not OK</span>
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}

                          {% for psu in device.power_supplies %}
                            <tr>
                              <td style="min-width: 150px; max-width: 150px;">{{ psu.description }}</td>
                              <td>
                                {% if psu.state %}
                                  <span class="badge badge-success">OK</span>
                                {% else %}
                                  <span class="badge badge-danger">Not OK</span>
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}

                          {% for item in device.temperature %}
                            <tr>
                              <td style="min-width: 150px; max-width: 150px;">{{ item.description }}</td>
                              <td>
                                {% if item.state %}
                                  <span class="badge badge-success">OK {{ item.value }}/{{ item.threshold }}</span>
                                {% else %}
                                  <span class="badge badge-danger">Not OK {{ item.value }}/{{ item.threshold }}</span>
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}

                          {% for item in device.hardware %}
                            <tr>
                              <td style="min-width: 150px; max-width: 150px;">{{ item.description }}</td>
                              <td>
                                {% if item.state %}
                                  <span class="badge badge-success">OK {{ item.value }}/{{ item.threshold }}</span>
                                {% else %}
                                  <span class="badge badge-danger">Not OK {{ item.value }}/{{ item.threshold }}</span>
                                {% endif %}
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="neighbor" role="tabpanel" aria-labelledby="neighbor-tab">
                  <!-- Neighbor -->
                  <div class="col-sm-12">
                    <div class="card" style="max-height: 700px;overflow-y: scroll;">
                      <div class="card-header">Neighbor</div>
                      <div class="card-body">
                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th>IP Address</th>
                            <th>Version</th>
                            <th>Name</th>
                            <th>Remote Port</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for neighbor in device.neighbor %}
                            <tr>
                              <td>{{ neighbor.remote_ip_address }}</td>
                              <td>{{ neighbor.remote_version }}</td>
                              <td>{{ neighbor.remote_hostname }}</td>
                              <td>{{ neighbor.remote_port_description }}</td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="interface" role="tabpanel"
                     aria-labelledby="interface-tab">
                  <!-- Interfaces -->
                  <div class="col-sm-12">
                    <div class="card" style="max-height: 700px;overflow-y: scroll;">
                      <div class="card-header"></div>
                      <div class="card-body">
                        <table class="table table-striped table-sm" data-toggle="table" data-cache="false"
                               data-height="299">
                          <thead>
                          <tr>
                            <th>Status</th>
                            <th>Interface</th>
                            <th>IN</th>
                            <th>OUT</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for interface in device.interfaces %}
                            <tr>
                              <td class="align-middle">
                                <h3>
                                  {% if device.is_down %}
                                    <span class="badge badge-danger">DOWN</span>
                                  {% elif interface.status == 1 %}
                                    <span class="badge badge-success">UP</span>
                                  {% else %}
                                    <span class="badge badge-danger">DOWN</span>
                                  {% endif %}
                                </h3>
                              </td>
                              <td class="align-middle">{{ interface.description }}</td>
                              <td width="25%" class="align-middle">
                                <div class="progress position-relative" style="height: 20px;"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     title="{{ interface.in_usage_percent }}%">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                                       role="progressbar"
                                       aria-valuenow="{{ interface.in_usage_percent }}"
                                       aria-valuemin="0"
                                       aria-valuemax="100"
                                       style="width: {{ interface.in_usage_percent }}%"></div>
                                  <span
                                    class="justify-content-center d-flex position-absolute w-100">{{ interface.in_usage_percent }}%</span>
                                </div>
                              </td>
                              <td width="25%" class="align-middle">
                                <div class="progress position-relative" style="height: 20px;"
                                     data-toggle="tooltip"
                                     data-placement="top"
                                     title="{{ interface.out_usage_percent }}%">
                                  <div class="progress-bar progress-bar-striped progress-bar-animated"
                                       role="progressbar"
                                       aria-valuenow="{{ interface.out_usage_percent }}"
                                       aria-valuemin="0"
                                       aria-valuemax="100"
                                       style="width: {{ interface.out_usage_percent }}%"></div>
                                  <span
                                    class="justify-content-center d-flex position-absolute w-100">{{ interface.out_usage_percent }}%</span>
                                </div>
                              </td>
                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="tab-pane fade" id="interface-status-log" role="tabpanel"
                     aria-labelledby="interface-status-log-tab">
                  <!-- Interfaces status logging -->
                  <div class="col-sm-12">
                    <div class="card" style="max-height: 700px;overflow-y: scroll;">
                      <div class="card-header"></div>
                      <div class="card-body">
                        <table class="table table-striped table-sm">
                          <thead>
                          <tr>
                            <th>Interface</th>
                            <th>Change from</th>
                            <th>Change to</th>
                            <th>Time</th>
                          </tr>
                          </thead>
                          <tbody>
                          {% for item in device.deviceinterfacestatuslog_set.all %}
                            <tr>
                              <td class="align-middle">{{ item.description }}</td>
                              <td class="align-middle">
                                <h3>
                                  {% if item.from_status == 1 %}
                                    <span class="badge badge-success">UP</span>
                                  {% else %}
                                    <span class="badge badge-danger">DOWN</span>
                                  {% endif %}
                                </h3>
                              </td>
                              <td class="align-middle">
                                <h3>
                                  {% if item.to_status == 1 %}
                                    <span class="badge badge-success">UP</span>
                                  {% else %}
                                    <span class="badge badge-danger">DOWN</span>
                                  {% endif %}
                                </h3>
                              </td>
                              <td>{{ item.created_at }}</td>

                            </tr>
                          {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block script %}
  <script>
    function ipComparator(a, b, modifier) {
      a = a.split('.');
      b = b.split('.');
      for (let i = 0; i < a.length; i++) {
        if ((a[i] = parseInt(a[i])) < (b[i] = parseInt(b[i])))
          return -1 * modifier;
        else if (a[i] > b[i])
          return 1 * modifier;
      }
      return 0;
    }

    const app = new Vue({
      el: '#app',
      delimiters: ['${', '}'],
      data: {
        currentSort: 'ip',
        currentSortDir: 'asc',
        devices: {{ devices|default:"[]"|safe }},
        filterDevices: [],
        search: '',
        baseViewDeviceURL: '{% url 'view-device' id=0%}'
      },
      methods: {
        sort: function (s) {
          //if s == current sort, reverse
          if (s === this.currentSort) {
            this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
          }
          this.currentSort = s;
        },
        getViewDeviceURL(id) {
          return this.baseViewDeviceURL.replace(0, id)
        }
      },
      computed: {
        sortResult: function () {
          return this.devices.sort((a, b) => {
            let modifier = 1;
            if (this.currentSortDir === 'desc') modifier = -1;

            if (this.currentSort === 'ip') {
              return ipComparator(a.ip, b.ip, modifier)
            }

            if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
            if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
            return 0;

          });
        }
      },
      watch: {
        search: function (val) {
          if (val === '') {
            this.filterDevices = {...this.devices}
          } else {
            this.filterDevices = this.devices.filter(function (device) {
              for (let key in device) {
                if (device[key].toString().indexOf(val) >= 0) {
                  return true
                }
              }
              if (val === 'status:up') {
                return device['status'] === true
              } else if (val === 'status:down') {
                return device['status'] === false
              }
              return false
            })
          }
        }
      },
      mounted() {
        this.filterDevices = {...this.devices}
      }
    });
    console.log("Hi");
  </script>
{% endblock %}