<div class="card" id="add-discover">
    <div class="card-header d-flex align-items-center">
        <h3 class="h4">Discover</h3>
    </div>
    <div class="card-body">
        <form method="post" action="{% url 'discover-device' %}">
            {% csrf_token %}
            <input type="hidden" name="add_type" value="discover">
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Network</label>
                <div class="col-sm-9"><input name="network" type="text"
                                             placeholder="Ex. 192.168.1.0/24, 192.168.1.0 255.255.255.0"
                                             class="form-control"></div>
                <div class="col-sm-1"><input type="submit" value="Scan" class="btn btn-primary float-right"></div>

            </div>
        </form>
        <div class="card">
            <div class="card-header">
                Scan result
            </div>
            <div class="card-body">
                <form action="{% url 'device-add-discover' %}" method="post">
                    {% csrf_token %}
                    <div class="table-responsive">

                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th>
                                    <div class="custom-control custom-checkbox">
                                        <input @click="selectAll" v-model="allSelected" type="checkbox"
                                               class="custom-control-input"
                                               id="addAll">
                                        <label class="custom-control-label" for="addAll">Select all</label>
                                    </div>
                                </th>
                                <th>IP Address</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(value, index) in sortResult" v-if="value.status">
                                <th scope="row">
                                    <div class="custom-control custom-checkbox">
                                        <input v-model="selected" :value="value.ip" type="checkbox"
                                               class="custom-control-input" :id="'n' + index">
                                        <label class="custom-control-label" :for="'n' + index">&nbsp;</label>
                                    </div>
                                </th>
                                <td>${value.ip}</td>
                                <td><span class="badge badge-success">Online</span></td>
                                <input type="hidden" :name="'ip_' + index" :value="value.ip"
                                       :disabled="isSelected(value.ip) ? false: true">
                                <input type="hidden" :name="'status_' + index" :value="value.status"
                                       :disabled="isSelected(value.ip) ? false: true">
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary float-right" data-toggle="modal"
                                data-target="#confirmAdd">
                            Add
                        </button>

                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="confirmAdd" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Settings</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% include 'discover/snmp_selector.html' %}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>