{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% block title %}Home{% endblock %} - AIT Monitor</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="robots" content="all,follow">
  <!-- Bootstrap CSS-->
  <link rel="stylesheet" href="{% static 'network_monitor/vendor/bootstrap/css/bootstrap.min.css' %}">
  <!-- Font Awesome CSS-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
        integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css">
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js"
          integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
  <!-- Fontastic Custom icon font-->
  <link rel="stylesheet" href="{% static 'network_monitor/css/fontastic.css' %}">
  <!-- Google fonts - Poppins -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
  <!-- theme stylesheet-->
  <link rel="stylesheet" href="{% static 'network_monitor/css/style.default.css' %}" id="theme-stylesheet">
  <link rel="stylesheet" href="{% static 'network_monitor/css/flatpickr.min.css' %}" id="theme-stylesheet">
  <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="{% static 'network_monitor/css/custom.css' %}">
  <!-- Favicon-->
  <link rel="shortcut icon" href="{% static 'network_monitor/img/favicon.ico' %}">
  <!-- Tweaks for older IEs--><!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
<div class="page">
  <!-- Main Navbar-->
  <header class="header">
    <nav class="navbar">
      <!-- Search Box-->
      <div class="search-box">
        <button class="dismiss"><i class="icon-close"></i></button>
        <form id="searchForm" action="#" role="search">
          <input type="search" placeholder="What are you looking for..." class="form-control">
        </form>
      </div>
      <div class="container-fluid">
        <div class="navbar-holder d-flex align-items-center justify-content-between">
          <!-- Navbar Header-->
          <div class="navbar-header">
            <!-- Navbar Brand --><a href="index.html" class="navbar-brand d-none d-sm-inline-block">
            <div class="brand-text d-none d-lg-inline-block">
              <span>AIT </span><strong>Monitor</strong></div>
            <div class="brand-text d-none d-sm-inline-block d-lg-none"><strong></strong></div>
          </a>
            <!-- Toggle Button--><a id="toggle-btn" href="#"
                                    class="menu-btn active"><span></span><span></span><span></span></a>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <div class="page-content d-flex align-items-stretch">
    <!-- Side Navbar -->
    {% block navbar %}{% include 'discover/navbar.html' with active_tab=active_tab %}{% endblock %}
    <div class="content-inner">
      <!-- Page Header-->
      <header class="page-header">
        <div class="container-fluid">
          <h2 class="no-margin-bottom">{% block page_header %}Dashboard{% endblock %}</h2>
        </div>
      </header>
      {% if messages %}
        <section class="dashboard-counts no-padding-bottom no-padding-top">
          <div class="container-fluid" id="message-top">
            <div class="row">
              <div class="col-sm-12">
                {% if messages %}
                  <ul class="messages list-group">
                    {% for message in messages %}
                      <li{% if message.tags %}
                        class="list-group-item list-group-item-{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                          Important: {% endif %}
                        {{ message }}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </section>
      {% endif %}
      {% block content %}

      {% endblock %}

      <!-- Page Footer-->
      <footer class="main-footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <p>AIT &copy; 2017-2019</p>
            </div>
            <div class="col-sm-6 text-right">
              <p>Design by <a href="https://bootstrapious.com/admin-templates" class="external">Bootstrapious</a>
              </p>
              <!-- Please do not remove the backlink to us unless you support further theme's development at https://bootstrapious.com/donate. It is part of the license conditions. Thank you for understanding :)-->
            </div>
          </div>
        </div>
      </footer>
    </div>
  </div>
</div>
{% if debug %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% else %}
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
{% endif %}

<!-- JavaScript files-->
<script src="{% static 'network_monitor/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'network_monitor/vendor/popper.js/umd/popper.min.js' %}"></script>
<script src="{% static 'network_monitor/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'network_monitor/vendor/jquery.cookie/jquery.cookie.js' %}"></script>
<script src="{% static 'network_monitor/vendor/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'network_monitor/vendor/jquery-validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'network_monitor/js/flatpickr.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
{#<script src="{% static 'network_monitor/js/charts-home.js' %}"></script>#}
<!-- Main File-->
<script src="{% static 'network_monitor/js/front.js' %}"></script>

{% block script %}{% endblock %}
</body>
</html>