{% extends 'discover/base.html'  %}
{% block navbar %}{% with active_tab='discover' %}{{ block.super }}{% endwith %}{% endblock %}
{% block content %}
    <!-- Dashboard Counts Section-->
    <section class="dashboard-counts no-padding-bottom">
        <div class="container-fluid" id="app">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 form-control-label">Discover or Manual
                                </label>
                                <div class="col-sm-10">
                                    <div class="i-checks">
                                        <input type="radio" checked="" value="discover"
                                               class="radio-template" v-model="addType">
                                        <label for="radioCustom1">Discover</label>
                                    </div>
                                    <div class="i-checks">
                                        <input type="radio" value="manual"
                                               class="radio-template" v-model="addType">
                                        <label for="radioCustom2">Manual</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12" v-if="addType === 'manual'">
                    {% include 'discover/add_manual_form.html' %}
                </div>
                <div class="col-lg-12" v-if="addType === 'discover'">
                    {% include 'discover/add_discover_form.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script>
        function ipComparator(a, b, modifier) {
            a = a.split('.');
            b = b.split('.');
            for (let i = 0; i < a.length; i++) {
                if ((a[i] = parseInt(a[i])) < (b[i] = parseInt(b[i])))
                    return -1 * modifier;
                else if (a[i] > b[i])
                    return 1 * modifier;
            }
            return 0;
        }

        const app = new Vue({
            el: '#app',
            delimiters: ['${', '}'],
            data: {
                message: 'Hello Vue!',
                addType: '{{ add_type|default:"manual" }}',
                snmpVersion: '2c',
                allSelected: false,
                selected: [],
                snmpCommunity: '',
                snmpUsername: '',
                snmpPassword: '',
                currentSort: 'ip',
                currentSortDir: 'asc',
                scanResult: {{ scan_result|default:"[]"|safe }}
            },
            methods: {
                selectAll: function (_) {
                    const selected = [];
                    if (!this.allSelected) {
                        this.scanResult.forEach(function (val) {
                            selected.push(val.ip)
                        });
                    }
                    this.selected = selected;
                },
                isSelected: function (ip) {
                    return this.selected.indexOf(ip) >= 0
                },
                sort: function (s) {
                    //if s == current sort, reverse
                    if (s === this.currentSort) {
                        this.currentSortDir = this.currentSortDir === 'asc' ? 'desc' : 'asc';
                    }
                    this.currentSort = s;
                },
                onAddDiscoverClick: function (event) {
                    console.log(event)
                }
            },
            computed: {
                sortResult: function () {
                    return this.scanResult.sort((a, b) => {
                        let modifier = 1;
                        if (this.currentSortDir === 'desc') modifier = -1;

                        if (this.currentSort === 'ip') {
                            return ipComparator(a.ip, b.ip, modifier)
                        }

                        if (a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
                        if (a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
                        return 0;

                    });
                }
            }
        });
        console.log("Hi");
    </script>
{% endblock %}