{% load static %}
<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="{% static 'network_monitor/img/avatar-1.jpg' %}" alt="..."
                                 class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h4">Test</h1>
            <p>-</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus-->
    <span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class="{% if active_tab == 'discover' %} active{% endif %}"><a href="{% url 'discover-device' %}"> <i
                class="icon-home"></i>Discover device </a></li>
        <li class="{% if active_tab == 'search-device' %} active{% endif %}"><a href="{% url 'search-device' %}"> <i
                class="icon-search"></i>Search device </a></li>
        <li class="{% if active_tab == 'device-list' %} active{% endif %}"><a href="{% url 'list-deivce' %}"> <i
                class="fa fa-th-list"></i>List device </a></li>
        <li class="{% if active_tab == 'device-network' %} active{% endif %}"><a href="{% url 'device-network' %}"> <i
                class="fa fa-desktop"></i>Network device </a></li>
        <li class="{% if active_tab == 'report' %} active{% endif %}"><a href="{% url 'report-index' %}"> <i
                class="fa fa-desktop"></i>Report </a></li>
        <li class="{% if active_tab == 'list-task' %} active{% endif %}"><a href="{% url 'list-task' %}"> <i
                class="fa fa-tasks"></i>List of tasks</a></li>
        <li class="{% if active_tab == 'setting' %} active{% endif %}"><a href="{% url 'setting-index' %}"> <i
                class="fa fa-cog"></i>Settings</a></li>
    </ul>

</nav>